@charset "UTF-8";

/* 변수 파일은 항상 하위 scss로 존재할 것 */
@import
    // abstracts
    '../scss/abstracts/variable',
    '../scss/abstracts/mixins',
    '../scss/abstracts/transition',

    // base
    '../scss/base/font',
    '../scss/base/reset',
    '../scss/base/image',
    '../scss/base/icon',

    // components
    '../scss/components/input',
    '../scss/components/button',
    '../scss/components/table',
    '../scss/components/pagination',
    '../scss/components/tab',

    // layout
    '../scss/layout/nav',
    '../scss/layout/login',
    '../scss/layout/common';
