article {
  &.calendar_bundle {
    display: flex;
    padding: 2.4rem;
    margin-bottom: 2.4rem;
    .calendar_wrap {
      width: 100%;
      margin-right: 4rem;
      .d-flex {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $gray400;
        .v-card.basic {
          margin: 0 0 0 auto;
          .v-tabs {
            margin: 0;
            padding: 0 2.4rem;
            height: 4rem;
            .v-tab {
              height: 4rem;
            }
          }
        }
        .view_mode {
          max-width: fit-content;
          margin: 0 !important;
        }
        .weekdays {
          max-width: fit-content;
        }
      }
      .calendar {
        .v-calendar-header {
          button:first-of-type {
            margin-right: auto;
          }
          .v-calendar-header__title {
            margin-left: auto;
          }
        }
      }
    }
    .calendar_info {
      flex: 0 0 32rem;
      .date_value {
        input {
          text-align: center;
        }
      }
      .plan_content {
        .v-list-item {
          border-bottom: 1px solid $gray300;
          .v-list-item__content {
            .v-list-item-title {
              @include font(1.5rem);
              font-weight: $bold;
            }
            .v-list-item-subtitle {
              @include font(1.4rem);
            }
          }
        }
      }
    }
  }
}