.input_group {
  input {
    padding: 0 1.6rem;
  }
  &.row {
    display: flex;
    label {
      min-width: 6rem;
      max-height: 4rem;
      @include font(1.5rem);
      line-height: 4rem;
      margin-right: 1.6rem;
      color: $gray500;
    }
    input {
      max-height: 4rem;
      min-height: 4rem;
      padding: 0 1.2rem;
      @include font(1.5rem);
      color: $gray600;
    }
  }
  .v-input {
    position: relative;
    .v-input__append {
      position: absolute;
      right: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .v-label {
    @include font(1.5rem);
  }
  .checkbox_small {
    .mdi-checkbox-marked::before {
      color: $main_dark;
    }
    label {
      @include font(1.2rem);
    }
  }
}

